flows.json
[
    {
        "id": "60a3b666.c0c1a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8ac441c.a62088",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "23f44a4e.0bfaf6",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad42ecb7.5b82c",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "94e45145.3636a",
        "type": "ui_tab",
        "z": "",
        "name": "Smart home",
        "icon": "smarthome",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ed7182c3.e1eb7",
        "type": "ui_group",
        "z": "",
        "name": "SMART_AGRICULTURE",
        "tab": "94e45145.3636a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58cdd02e.43a88",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "73c00196.20015",
        "type": "ibmiot in",
        "z": "60a3b666.c0c1a8",
        "authentication": "apiKey",
        "apiKey": "ad42ecb7.5b82c",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "nikki123",
        "applicationId": "",
        "deviceType": "IOTDEVICE",
        "eventType": "event_1",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": false,
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "55810b20.cf6184",
                "c302ac1c.53512",
                "d668ed7d.b0379",
                "86ea52bd.8c4f"
            ]
        ]
    },
    {
        "id": "55810b20.cf6184",
        "type": "debug",
        "z": "60a3b666.c0c1a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "d668ed7d.b0379",
        "type": "function",
        "z": "60a3b666.c0c1a8",
        "name": "humidity",
        "func": " msg.payload=msg.payload.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "55810b20.cf6184",
                "d89ebb5d.3721d8"
            ]
        ]
    },
    {
        "id": "c302ac1c.53512",
        "type": "function",
        "z": "60a3b666.c0c1a8",
        "name": "temperature",
        "func": " msg.payload=msg.payload.temperature \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "55810b20.cf6184",
                "dab1ecd9.e74aa"
            ]
        ]
    },
    {
        "id": "86ea52bd.8c4f",
        "type": "function",
        "z": "60a3b666.c0c1a8",
        "name": "pressure",
        "func": " msg.payload=msg.payload.pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "55810b20.cf6184",
                "da443698.df9c48"
            ]
        ]
    },
    {
        "id": "dab1ecd9.e74aa",
        "type": "ui_gauge",
        "z": "60a3b666.c0c1a8",
        "name": "",
        "group": "ed7182c3.e1eb7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "d89ebb5d.3721d8",
        "type": "ui_gauge",
        "z": "60a3b666.c0c1a8",
        "name": "",
        "group": "ed7182c3.e1eb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "da443698.df9c48",
        "type": "ui_gauge",
        "z": "60a3b666.c0c1a8",
        "name": "",
        "group": "ed7182c3.e1eb7",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "513c7aee.450c34",
        "type": "ui_button",
        "z": "b8ac441c.a62088",
        "name": "",
        "group": "ed7182c3.e1eb7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7d3f15fe.eb329c"
            ]
        ]
    },
    {
        "id": "73ab8797.436378",
        "type": "ui_button",
        "z": "b8ac441c.a62088",
        "name": "",
        "group": "ed7182c3.e1eb7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "7d3f15fe.eb329c"
            ]
        ]
    },
    {
        "id": "5260b581.e7b43c",
        "type": "inject",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b3bb023a.98aaa"
            ]
        ]
    },
    {
        "id": "c482d84b.c82558",
        "type": "debug",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "ebb85b38.522b38",
        "type": "debug",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "1421e1c9.2f0b1e",
        "type": "change",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 260,
        "wires": [
            [
                "3a3a5312.b1afdc"
            ]
        ]
    },
    {
        "id": "f9a57f06.e4a1b",
        "type": "change",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "f9288a9.142a978"
            ]
        ]
    },
    {
        "id": "c1b859c7.f65af8",
        "type": "change",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 437,
        "wires": [
            [
                "4d6a063.f7eb6f8"
            ]
        ]
    },
    {
        "id": "3a3a5312.b1afdc",
        "type": "ui_text",
        "z": "23f44a4e.0bfaf6",
        "group": "ed7182c3.e1eb7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9288a9.142a978",
        "type": "ui_text",
        "z": "23f44a4e.0bfaf6",
        "group": "ed7182c3.e1eb7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "4d6a063.f7eb6f8",
        "type": "ui_text",
        "z": "23f44a4e.0bfaf6",
        "group": "ed7182c3.e1eb7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 440,
        "wires": []
    },
    {
        "id": "b3bb023a.98aaa",
        "type": "http request",
        "z": "23f44a4e.0bfaf6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&units=imperial&appid=0bbae79dcd24decbdbd815dd5655b775",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "c482d84b.c82558",
                "ebb85b38.522b38",
                "1421e1c9.2f0b1e",
                "f9a57f06.e4a1b",
                "c1b859c7.f65af8"
            ]
        ]
    },
    {
        "id": "7d3f15fe.eb329c",
        "type": "ibmiot out",
        "z": "b8ac441c.a62088",
        "authentication": "apiKey",
        "apiKey": "ad42ecb7.5b82c",
        "outputType": "cmd",
        "deviceId": "smart_agriculture",
        "deviceType": "IOTDEVICE2",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 560,
        "y": 200,
        "wires": []
    }
]